{% extends 'main/lesson_base.html' %} {% load static %} {% block html_of_lesson %}
	<div class="main-text">
        <p>С тілінде жол нысанын жасау мүмкін болмады. Жолды құру үшін таңбалар массиві пайдаланылды - <code>char arr[]</code>. C++ тілінде барлығы жеңілдетілді және жолдарды жасау үшін жаңа жеке нысан енгізілді. Нысанмен қатар жолдарды өңдеуге арналған жаңа функциялар пайда болды.&nbsp;</p>
        <p>
        <br>
        </p>
        <p>Сонымен бірге, жолдар әлі де таңбалар массиві екенін ұмытпаңыз, яғни әрбір таңбамен бір жалпы массивтің элементі сияқты жеке жұмыс істеуге болады.</p>
        <p>
        <br>
        </p>
        <p>Жолдармен жұмыс массивтермен жұмыс істеуден айырмашылығы жоқ. Бірақ тұтас жолды жазу үшін арнайы <code>gets()</code> функциясын пайдалана аламыз.&nbsp;</p>
        <p>
        <br>
        </p>
        <p>Соңғы уақытта қауіпсізрек және пайдаланушыдан жолды алуға мүмкіндік беретін <code>gets_s()</code> әдісін қолданған дұрыс.&nbsp;</p>
        <div>
        <br>
        </div>
		<div>C++ тілі кириллица таңбаларын өңдеуді қосқан жағдайда кириллицамен оңай жұмыс істей алады. Дұрыс жұмыс істеу үшін сізге "clocale" кітапханасын қосу керек, сонымен қатар <code>main</code> әдісінде <code>setlocale</code> функциясын пайдалану керек:</div><pre><code class="lang language-cpp">#include &lt;clocale&gt;

        using namespace std; 
        
        int main() {
            // Установка поддержки кириллицы
            setlocale(LC_CTYPE, "rus");
         
            return 0; 
        }</code></pre></div>
{% endblock %}