{% extends 'main/lesson_base.html' %} {% load static %} {% block html_of_lesson %}
	<div class="main-text">
        <p>Динамикалық жадты бөлу өте ыңғайлы, себебі жадты бөлу арқылы біз қандай да бір нысандағы деректер үшін орынды сақтаймыз.</p>
		<p>
			<br>
		</p>
		<p>C++ тілінде сәйкесінше <code>new</code> және <code>delete</code> операторлары жадты бөлуге және жоюға жауапты. Олар тек динамикалық массивтерді құру үшін ғана емес, сонымен қатар объектілер мен тіпті қарапайым айнымалылар үшін жадты бөлу үшін қолданылады.</p><pre><code class="lang language-cpp">// Операция выделения памяти (new)
        float *val = new float; // Можно выделять память под любые типы данных
        // здесь val это указатель на участок памяти типа float 
        // new служит операцией выделения этой памяти
        // delete необходим для высвобождения памяти
        delete val;</code></pre>
		<div>Динамикалық массив бірдей құрылымды пайдаланады. Мұнда операторлар да қолданылады. <code>new</code> мен <code>delete</code>:</div><pre><code class="lang language-cpp">char *symbols = new char [25]; // выделение памяти под массив
        // Также необходимо освободить память,
        // когда массив уже не нужен
        delete [] symbols;</code></pre></div>
	 {% endblock %}