{% extends 'main/lesson_base.html' %} {% load static %} {% block html_of_lesson %}
	<div class="main-text">
		<p>Тізімдер бағдарламашыларға ыңғайлы болу үшін жасалған, өйткені олар көп функцияларды орындамайды. Сізде адам есте сақтай алмайтын көптеген деректер массивтері бар үлкен бағдарлама бар деп елестетіп көріңіз. Барлығын есте сақтау мүмкін болмағандықтан, барлық қол жетімді мәндер мен атаулары бар тізімді сақтайтын нөмір құруға болады.</p>
<p>
<br>
</p>
<p>Мұндай тізімді жасағаннан кейін оған сілтеме жасап, өзіңізге қолайлы опцияны таңдауыңызға болады.</p>
<p>
<br>
</p>
<p>Тізімдерді жасау үшін <code>enum</code> сөзін пайдаланыңыз, оны атаңыз және барлық опциялардың инициализациясын көрсетіңіз.</p>
	</div>
 {% endblock %}