{% extends 'main/lesson_base.html' %} {% load static %} {% block html_of_lesson %}
	<div class="main-text">
        <p>Құрылымдар айнымалылар мен функциялардың көп саны жоқ шағын нысанды сипаттау үшін қолданылады.</p>
        <div>
        <br>
        </div>
        <div>Құрылымдарды пайдалану ыңғайлы, өйткені олардың бірқатар артықшылықтары бар:</div>
        <div>
        <ul>
        <li>жадты азырақ алады, сондықтан оларды пайдалану процессордағы жүктемені жеңілдетеді;</li>
        <li>қарапайым синтаксисі бар;</li>
        <li>тек айнымалылар, функциялар және конструкторлар бар;</li>
        <li>олардың негізінде нысандар жасауға болады.</li>
        </ul>
        <p>
        <br>
        </p>
        <p>Құрылымдардың арқасында ақпараттың аз көлемімен шағын нысандарды оңай жасауға болады екен. Мұндай нысандар нақты өмір объектілерін сипаттай алады: кітап нысаны, автокөлік нысаны, ағаш нысаны және т.б.</p>
		</div>
		<p>
			<br>
		</p>
		<p>Құрылымды жасау үшін синтаксисті пайдаланыңыз: <code>struct NAME {}</code>. Бір құрылым негізінде айнымалылар мен функциялардың атаулары бірдей болатын нысандардың шексіз санын жасауға болады, бірақ барлық нысандардың мәндері әртүрлі болады.</p>
	</div>
	 {% endblock %}