{% extends 'main/lesson_base.html' %} {% load static %} {% block html_of_lesson %}
	<div class="main-text">
        
		<p>
			<br>
		</p>
		<h3>C++ туралы ақпарат</h3>
		<p>С++ 1969-1973 жылдары белсенді түрде дамыған Си тіліне негізделген. Бас әзірлеуші ​​Деннис Ричи басқаратын Bell Labs әзірлеуге жауапты болды. Он жылдан кейін бір кездері C әзірлеушісі болған дат бағдарламашысы Бьорн Строуструп тілдің C++ деп аталатын кеңейтілген нұсқасын шығарады. Саяхаттың басында C++ тек кеңейтім болды, ол C тіліне қосымша болды, ол оған OOP принциптерін қосу арқылы тілді кеңейтті. Строструптың өзі бастапқыда бұл тілді жай ғана «С класстарымен» деп қарастырды.</p>
		<p>
			<br>
		</p>
		<p><strong>Маңызды:</strong> Көптеген адамдар C++ бағдарламалау тілі пішіміндегі тілді қате атайды. Тілді олай атаудың қажеті жоқ. «С++ тілі» – тілдің жасалу тарихын қате түсіндіру. Иә, c++ бағдарламалау тілі Си тілінің жетілдірілген нұсқасы, бірақ оның жалғасы емес. Сондықтан C++ бағдарламалау тілдері жоқ.</span></span>
			</span>
			</span>
		</p>
		<p>
			<br>
		</p>
		<p>C++ 1983 жылы дүниеге келген. Ол толыққанды тіл емес, тек Си тілінің бір тармағы болғанымен, ол әлі де бірқатар пайдалы мүмкіндіктерге ие болды, соның арқасында ол толыққанды жеке бағдарламалау тіліне айналды. C++ шығарылымымен әлемде қазіргі кезде кең таралған бірқатар ұғымдар пайда болды:</p>

		<p>
			<br>
		</p>
		<h4>Си тілі туралы не деуге болады?</h4>
		<p>С++ дамып, функционалдық жағынан соңғысының басымдылығына қарамастан, Си тілі бүгінгі күнге дейін танымал болып қала береді. Неліктен ескі және аз дамыған тіл бүгінде танымал? Бұл қарапайым – бағдарламаларды жаңа тілге көшіру өте қымбат және көп уақытты қажет ететін тапсырма. Кейбір компаниялар ағынмен жүріп, C бағдарламаларын қолдауды жалғастырады.</p>
		<p>
			<br>
		</p>
		<p>Желіде Си тіліндегі тілдерді C тілінен үйренуді бастаған дұрыс деп кеңес беретін көптеген сарапшылар бар. Бұл C++ тілінің мәнін жақсырақ түсінудің жалғыз жолы дейді олар. Шындығында бұл қате түсінік. Егер сіз C ++ тілінде үйренуді бастасаңыз, әзірлеуші ​​​​арсеналында тілдің жаңа және заманауи мүмкіндіктері туралы білімге ие болады. Егер бір күні C-ге ауысу қажет болса, бұл көп уақыт пен күш-жігерді қажет етпейді. Тіпті ескі С-ге ауысу қажеттілігінің өзі қазірдің өзінде үлкен күмән тудырады.</p>
		<p>
			<br>
		</p>
		<p>Бірақ C++ тіліне дейін әлі де C тілін үйренгіңіз келсе, онда осы тілмен танысуға болатын үлкен бейне сабақпен танысуды ұсынамыз:</p>
		<div>
			<br>
		</div>

		<p>
			<br>
		</p>

			<br>
		</p>
		<h4>C++ тарату</h4>
<p>Шыққаннан кейін көп ұзамай C++ тілі программалаудың әртүрлі салаларын жаулап ала бастады. Бірте-бірте оған көбірек жаңа мүмкіндіктер енгізілді, бұл оны С қосымшасының рөлінен барған сайын алыстатты. Жылдар өткеннен кейін ол енді жалғасы немесе жалғасы болып саналмай, Си тілінен толығымен бөлінетін уақыт келді, содан кейін тіл C ++ деп аталды. Содан бері тілдер алшақтап, олар тәуелсіз болды (<u>мүмкіндігінше</u>).</p>
<p>
<br>
</p>
<p>
<br>
</p>
<p>Бүгінгі күні <strong>C++</strong> - бұл C тілінен көптеген негізгі жадты басқару мүмкіндіктерін иемденетін функционалды және қуатты тіл. Осы себепті ол жүйелік бағдарламалауда белсенді қолданылады.</p>
<p>
<br>
</p>
<p><strong>Бірнеше негізгі қолдану:</strong></p>
<ul>
<li>Операциялық жүйелердің дамуы. оның ішінде Windows жүйесі негізінен C++ тіліне негізделген;</li>
<li>Драйверлерді жасау;</li>
<li>Бағдарламаларды нөлден жазу;</li>
<li>Антивирустық қолданбаларды әзірлеу және қолдау және т.б..</li>
</ul>
<p>
<br>
</p>
<p>C++ тек жүйелік бағдарламалаудан әлдеқайда асып түсті. Ол жылдамдыққа және жоғары жүктемелерде жұмыс істеуге баса назар аударылатын барлық деңгейдегі қосымшаларды жасауға қатыса алады. Ол графикалық редакторлар мен қолданбалы қолданбаларды қалыптастыру үшін қолданылады.</p>
<p>
<br>
</p>
<p>Үлкен ойын әлемдерін көрсетуге арналған көптеген ойын қозғалтқыштары C++ тіліне негізделген. Соңғы жылдары бұл тілді мобильді қосымшалар көбірек пайдаланады. Ғаламтордың өзінде бұл тілге орын болды. Веб-қосымшалардың барлық түрлері C++ тілін белсенді түрде пайдаланады, міндетті түрде негіз ретінде емес, мүмкін тек көмекші функцияларды орындау үшін, бірақ факт сақталады. Қорытындылай келе, C++ қолданылмайтын аймақтарды табу C++ тіліне қарағанда қиынырақ.</p>
<p>
<br>
</p>
<h4><br></h4>
<h4>C++ тілінің негізгі мүмкіндіктері </h4>
<p>C++ — компиляцияланған тіл, яғни компилятор алдын ала анықталған нұсқауларды қолдана отырып, C++ кодын ана тіліне өзгертеді. Барлық платформалар кейбір мүмкіндіктерімен ерекшеленеді, сондықтан бағдарламаны бір платформадан екінші платформаға қабылдау және тасымалдау мүмкін емес. Дәлірек айтқанда, аударуға болады, бірақ ол жерде басталмайды. Бұл жағдайда қосымшаның бастапқы коды негізінен тасымалданады. Жалғыз ерекшелік - белгілі бір ОЖ-ның арнайы мүмкіндіктерін пайдалану.</p>
<p>
<br>
</p>
<p>C++-де көптеген белгілі платформаларда кодпен жұмыс істеуге арналған компиляторлар мен құралдар бар. Бұл кез келген платформа үшін дереккөздерді құрастыруға мүмкіндік береді.</p>
<p>
<br>
</p>
<p>C++ OOP стиліндегі бағдарламаларды жазуды қолдайды, ал C оны қолдамайды. Бұл жағдайда қолданба тек сыныптардың, басқа код элементтерімен әрекеттесе алатын объектілердің жиынтығына айналады. Бұл үлкен қолданбаларды дамытуға көмектеседі.</p>
<p>
<br>
</p>
<h3>С++ қалай кезең-кезеңмен дамыды?</h3>
<p>C++ әзірлеу қадамдары:</p>
<ul>
<li>1979-1980 - C++ пайда болды және өзін қосымша сыныптары бар Си тілі ретінде орналастырды;</li>
<li>1983 - тіл атала бастады, өйткені бәріміз C++ тіліне үйрендік;</li>
<li>1985 - C++ коммерциялық шығарылымы. Сол жылы «С++ бағдарламалау тілі» атты бірінші қағаз кітабы шықты, ол функциялардың, мүмкіндіктердің және тілді пайдалану ережелерінің сипаттамасын қамтиды;</li>
<li>1989 - тілдің жетілдірілген мүмкіндіктері бар екінші нұсқасы шығарылды;</li>
<li>1990 жылдан 2011 жылға дейін – функционалдық мүмкіндіктердің баяу дамуы және қосылуы. Сондай-ақ, 1998 жылы тілді стандарттау әрекеті алғаш рет жасалғанын айта кеткен жөн. Бұл стандарт кейінірек <code>ISO/IEC 14882:1998</code> деп аталды, бүгінде C++98. 2003 жылы C++03 стандартының келесі нұсқасы пайда болды;</li>
<li>2011 - C++11 стандартының шығарылымы, оның шын мәнінде көптеген жаңалықтары бар. Жаңарту тілді пайдалы мүмкіндіктердің көптігімен байытты;</li>
<li>2014 жылғы стандарттың алдыңғы нұсқасына салыстырмалы түрде шамалы қосымшаның шығарылымы. Олар оны C++14;</li>деп атады
<li>2017 жыл – тілдің соңғы негізгі шығарылымы.</li>
</ul>
<p>
<br>
</p>
<p>
<br>
</p>
	
</div>
<div class="container d-flex align-items-center justify-content-center">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/RrjzudCXH0A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
 {% endblock %}