{% extends 'main/lesson_base.html' %} {% load static %} {% block html_of_lesson %}
	<div class="main-text">
        <p>Бейне курс барысында біз C++ тілінің негіздерін үйрендік. C++ тілі оның функционалдығын кеңейтетін және жаңа мүмкіндіктерді қосатын көптеген кітапханалардан тұрады. Барлық кітапханаларды үйрену мүмкін емес, ең бастысы қажет емес.</p>
        <p>
        <br>
        </p>
        <p>Сіз жұмыс істегіңіз келетін белгілі бір аймақты таңдауыңыз керек, содан кейін аймағыңыз үшін арнайы кітапханаларды зерттеуіңіз керек. Мысалы, Windows жүйесіне арналған бағдарламаларды жасағыңыз келсе, онымен жұмыс істеуді үйренуге болады
     </p>
        <p>
        <br>
        </p>
        <p>Біліміңізді бекіту үшін бір сағатта C++ тілін үйренуге арналған тамаша бейнесабақты көре аласыз!     
        </p>
        <p>
        <br>
        </p>
		<p>ҚҰТТЫҚТАЙМЫЗ барлық сабақтарды аяқтадыңыздар</p>
		<div>
			<br>
		</div>
			<br>
		</div>
	
	 {% endblock %}