{% extends 'main/lesson_base.html' %} {% load static %} {% block html_of_lesson %}
    <div class="main text">
        <p>Достық функциясы - бұл сыныптың өрістері мен әдістеріне қатынасы бар функция, ал функцияның өзі сыныптан тыс жасалуы мүмкін.&nbsp;</p>
        <p>
        <br>
        </p>
        <p>Дос функциясын жасау үшін класстардан тыс қарапайым функцияны жазу керек, содан кейін осы функциямен жұмыс істейтін сыныптар үшін оны атауды көрсету арқылы жариялау керек, сонымен қатар <code>friend</code сөзін қою керек. > функция деректер түрінен бұрын.</p>
        <p>
        <br>
        </p>
        <p>Мұндай функцияны жасағаннан кейін оны дос функциясы ретінде көрсеткен барлық сыныптардағы барлық деректерді басқару үшін пайдалануға болады. Кіру модификаторы жеке немесе қорғалған өрістерге қатынас біркелкі болады.</p>
        </div>
	<!-- BUTTON -->
	{% endblock %}